body           {background-color: #FFFFFF; color: #000000}
a:link         {color: #0000FF}
a:visited      {color: #FF0000}
a:focus        {color: #00FF00}
div.centered   {text-align: center}
table.centered {margin-left: auto; margin-right: auto}
table.skinny   {width: 500px}
